@model CrudBasico.Models.ClienteModel

@{
	ViewBag.Title = "Detalhes";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-group">
		@Html.LabelFor(m => m.Nome, new { @class = "form-label" })
		@Html.TextBoxFor(m => m.Nome, new { @class = "form-control", disabled = "disabled" })
	</div>
	<br>
	<button type="button" id="clienteVoltar" class="btn btn-warning">Voltar</button>
}


@section scripts{
	<script>
		$(document).ready(function () {
			$("#clienteVoltar").on("click", function () {
				window.location.href = "/Cliente"
			});
		});
	</script>
}